{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">ENZ.News</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for categori in category %}
                  <a class="dropdown-item" href="{% url 'articles_by_category' categori.category_slug %}" target="_blank">{{ categori.category_name }}</a>
                {% endfor %}
           
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""><b>Home</b></a>
          </li>
       
        </ul>
      </div>
    </div>
  </nav>
  {% if request.user.is_authenticated %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <!-- Your content goes here -->
    </div>
    <div class="col-md-4 text-right">
      <!-- Add Login and Register Buttons to the Right-Top Corner -->
      <a href="{% url 'profile' %}" class="btn btn-primary mx-2">Profile</a>
      <a href="{% url 'logout' %}" class="btn btn-success mx-2">Logout</a>
      <!-- End of Login and Register Buttons -->
    </div>
  </div>
</div>
{% else %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <!-- Your content goes here -->
    </div>
    <div class="col-md-4 text-right">
      <!-- Add Login and Register Buttons to the Right-Top Corner -->
      <a href="{% url 'login' %}" class="btn btn-primary mx-2">Login</a>
      <a href="{% url 'register' %}" class="btn btn-success mx-2">Register</a>
      <!-- End of Login and Register Buttons -->
    </div>
  </div>
</div>
{% endif %}

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <!-- News articles go here -->
        <h2>Latest News</h2>
        {% if articles %}
        {% for article in articles %}
        <div class="card mb-4">
          <div class="card-body">
            <a class="text-reset text-decoration-none" href="{% url 'article_detail' article.id %}" class="card-title"><b>{{article.headline}}</b></a>
            <p class="card-text">{{article.body | slice:":50"}}... </p>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h6>No articles to show.</h6>
        {% endif %}
        <!-- More news articles go here -->
      </div>
    </div>
  </div>


{% endblock body %}